

/*sidebar-nav style*/
.subNavBox{width:200px;border:solid 1px #e5e3da;margin:100px auto;}
.subNav{cursor:pointer;font-weight:bold;font-size:14px;color:#999;line-height:28px;padding-left:10px;}
.subNav:hover{color:#277fc2;}
.currentDd{display: none;}
.currentDt{display: block;}
.sub{display: none;}
.navContent li a{display:block;text-align:left;margin-left:30px;font-size:14px;color:#fff}
.navContent li a:hover{color:#fff;background-color:#277fc2}
